NODE_ENV=development
PORT=3005

ENABLE_CORS=
ENABLE_SWAGGER=

AUDIT_WEBHOOK_URL=

MYSQL_DATABASE_URL=

APP_PUBLIC_URL=


JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=365d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=
